#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  max-width: 500vh;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.171);
}

h1 {
  text-align: center;
  color: #333;
}

body {
  background-color: #BBC3F2;
  font-family: Arial, sans-serif;
}

.todo-form {
  gap: 10px;
  margin-bottom: 20px;
}

.todo-form input {
  flex: 1;
  padding: 10px;
}

.todo-form button {
  padding: 10px 20px;
  background-color: #F279DE;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #BF84D9;
}

.todo-item {
  color: #333;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: #333;
}

.todo-item span {
  cursor: pointer;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

